<div class="container">
  <div class="container">
    <div class="sub_container">
      <h1>免費諮詢</h1>
      <h2>有過去曾指導500人以上經驗的專業顧問將接受關於日本就業的諮詢。</h2>
      <p>「我想挑戰去日本就業，但是不知道該從哪裡做起……」</p>
      <p>「想從真正值得信賴、有經驗的人得到資訊和建議」</p>
      <p>「不僅只有我，我還想和各種各樣的人交換資訊……」</p>
      
      <p>在日本面臨要就業的時候，有沒有一個人抱持這樣的想法呢?</p>
      
      <p>為了這些人”日啓 PASSAGE | 赴日就職趨勢網“提供了免費向專業顧問做線上諮詢的機會！</p>
      <p>到目前為止負責人指導過500名以上的海外留學生，並幫助他們到多家日本企業就業成功。</p>
      <p>從基本的準備方法到關於日本公司的詳細情況，任何事情都可以諮詢!</p>
      <p>想要參加的人請在 專用的表格 中填上必要的事項，請從以下的聯絡方式輸入【希望參加免費諮詢】!</p>
    
    
      <h1>聯絡方式</h1>
       <p>■客服信箱 ： info@passage-japan.com</p><br>
       <p>■LINE ： ID→ @bxq8834</p>
       <p>請搜尋上面的ID，在加入朋友之後隨時傳送訊息給我們。​</p><br>

      <h1>專業顧問簡介</h1>
      <img src="my-app/src/assets/image/konishiyama.jpg" class="">
      <h2>西山 洸 (Ko Nishiyama)</h2>
      <p>
        曾就讀於日本慶應大學經濟系，畢業後進入日本外務省工作。<br>
        供職於日本外交部時被分配到中國/台灣科室，隨後作為駐華外交官被派到台北和上海。<br>
        從日本外交部離職後創建株式會社“Shangri－La Inc.” 。首先在韓國和台北設立了赴日就職的咨詢機構，並打算今後將其事業推廣到中國大陸。<br>
        除日文以外，還精通英語、中文、韓語以及法語四門外語。<br>
      </p>
   
   
    </div>
   
   </div>
</div>
