<div class="container">
 <div class="sub_container">
   <h1>關於我們</h1>
   <h2>歡迎來到 “日啓 PASSAGE | 赴日就職趨勢網”！</h2>
   <p>「我想挑戰去日本就業，但是不知道該從哪裡做起……」</p>
   <p>「想從真正值得信賴、有經驗的人得到資訊和建議」</p>
   <p>「不僅只有我，我還想和各種各樣的人交換資訊……」</p>
   
   <p>想要前往日本工作的你，是否也有這些煩惱呢？</p>
   
   <p>日啟為您打造提供了日本求職的社群與資訊平台，致力於傳達「真實」的求職資訊，為以前往日本企業就業為目標的人們，創造一個更有效率、更有機會去日本就業的平台。</p>
 
   <h2>在「日啓」，您可以——</h2>
   
   <p>1. 自由投稿到「討論版」裡，向日本就業顧問或有日本就業經驗的前輩們提問並獲得建議。另外，你還可以與其他正在找工作的人士進行資訊交流。</p>
   
   <p>2. 閱讀「日本就業指南」等許多獨家的資料，能夠有效為日本就業做準備。</p>
   
   <p>3. 參加「日啟」獨家的人員招募。</p>
   
   <p>4. 參考目前為止有在日本就業過的前輩們的心得。</p>
   
   <p>5. 免費向專業顧問做線上諮詢。</p>
 
   <h2>"日啓" 是誰在經營？</h2>
   
   <p>日啟團隊由日籍專業顧問與擁有日本工作經驗的台灣人所組成，曾在韓國與台灣為超過500位學生提供赴日求職顧問服務。</p>
   
   <p>我們相信，沒有真正經歷過，很多事是無法真正了解的。</p>
   
   <p>經歷過日本企業求職的人，才能掌握求職活動現場的氛圍和資訊，正因為經歷過，才能真正提供深入的日本企業、求職相關資訊，進一步運用相關人脈網絡提供協助。</p>
 
 
   <h1>經營人簡介</h1>
    <img src="my-app/src/assets/image/konishiyama.jpg" class="">
    <h2>西山 洸 (Ko Nishiyama)</h2>
    <p>
      曾就讀於日本慶應大學經濟系，畢業後進入日本外務省工作。<br>
      供職於日本外交部時被分配到中國/台灣科室，隨後作為駐華外交官被派到台北和上海。<br>
      從日本外交部離職後創建株式會社“Shangri－La Inc.” 。首先在韓國和台北設立了赴日就職的咨詢機構，並打算今後將其事業推廣到中國大陸。<br>
      除日文以外，還精通英語、中文、韓語以及法語四門外語。<br>
    </p>

    <img src="" class="">
    <h2>Liu</h2>
    <p>
      高一開始學習日文作為第二外語，畢業於臺灣大學日本語文學系。<br>
      大學期間積極參加與日本人交流的社團與企畫，並且做過多項與日文／日本相關兼職，累積學術界、出版界、翻譯界、旅遊業、零售業等豐富工作經驗及人脈。應屆畢業即找到日本的正職工作，目前正在日本展開人生第一次海外長住生活。希望能夠透過自身經驗，幫助對嚮往去日本工作的學生們實現夢想。<br>
    </p>  



   <h1>聯絡我們</h1>
   <p>■客服信箱 ： info@passage-japan.com</p>
   <p>■LINE ： ID→ @bxq8834 </p>
   <p>可以用line輕鬆諮詢!</p>
   <p>請搜尋上面的ID，在加入朋友之後隨時傳送訊息給我們。</p>


 </div>

</div>