<header class="">
  <a routerLink="/">
    <img class="" src="../../../assets/image/日啓LOGO_horizontal-01.png" style="width: 175px;"/>
  </a>      
  <div class="headerul">
    <ul class="headerindex">
      <li class="">
        <a routerLink="/article_index">全部文章</a>
        <span>|</span>
      </li>
      
      <li class="">
        <a routerLink="/articles">經驗分享</a>
        <span>|</span>
      </li>
      
      <li class="">
        <a routerLink="/careers">徵才職缺</a>
        <span>|</span>
      </li>
      
      <li class="">
        <a routerLink="/about">關於我們</a>
      </li>
      <!-- <li class="nav__item_button" style="vertical-align:middle;">
        <a data-confirm="要退出嗎？" rel="nofollow" data-method="delete" href="/users/sign_out">
          <i class="fas fa-sign-out-alt"></i>
        </a>           
      </li> -->
    </ul>
</div>
